{{#if showHeader}}
  {{as-calendar/header
    title=title
    model=model
    onNavigate=(action "onNavigate")
    onTypeChange=(action "changeType")}}
{{/if}}

{{#as-calendar/timetable
  model=model
  timeZone=timeZone
  timeZoneOptions=timeZoneOptions
  showTimeZoneSearch=showTimeZoneSearch
  timeSlotHeight=timeSlotHeight
  defaultTimeZoneQuery=defaultTimeZoneQuery
  onNavigateToDay=(action "navigateToDay")
  onSelectTime=(action "addOccurrence")
  onChangeTimeZone=(action "changeTimeZone") as |day timetable|}}
  <ul class="occurrences">
    {{#if model.isMonthView}}
      {{#each day.shortOccurencesList as |occurrence|}}
        <li>
          {{#if hasBlock}}
            {{yield occurrence timetable this}}
          {{else}}
            {{as-calendar/timetable/occurrence
              model=occurrence
              timeSlotHeight=monthTimeSlotHeight
              timetable=timetable
              timeSlotDuration=timeSlotDuration
              isDraggable=false
              isResizable=false
              isEditable=true
              onUpdate=(action this.attrs.onUpdateOccurrence)
              onEdit=(action this.attrs.onEditOccurrence)
              onRemove=(action this.attrs.onRemoveOccurrence)}}
          {{/if}}
        </li>
      {{/each}}
      {{#if day.hasShowMore}}
        <a href {{action 'navigateToDay' day.value bubbles=false}}>+{{day.showMoreCount}} more</a>
      {{/if}}
    {{else}}
      {{#each day.occurrences as |occurrence|}}
        <li>
          {{#if hasBlock}}
            {{yield occurrence timetable this}}
          {{else}}
            {{as-calendar/timetable/occurrence
              model=occurrence
              timeSlotHeight=timeSlotHeight
              timetable=timetable
              timeSlotDuration=timeSlotDuration
              isDraggable=true
              isResizable=true
              isEditable=true
              onUpdate=(action this.attrs.onUpdateOccurrence)
              onEdit=(action this.attrs.onEditOccurrence)
              onRemove=(action this.attrs.onRemoveOccurrence)}}
          {{/if}}
        </li>
      {{/each}}
    {{/if}}


    {{#if day.occurrencePreview}}
      <li>
        {{as-calendar/occurrence
          class="as-calendar-occurrence--preview"
          model=day.occurrencePreview
          timeSlotHeight=timeSlotHeight
          timeSlotDuration=timeSlotDuration}}
      </li>
    {{/if}}
  </ul>
{{/as-calendar/timetable}}
