<header>
  <h1>{{title}}</h1>

  <nav>
    <ul>
      <li>
        <button class="previous-week" {{action "navigateWeek" -1}}></button>
      </li>

      <li>
        <button disabled={{isInCurrentWeek}}
          class="current-week"
          {{action "goToCurrentWeek"}}>This Week</button>
      </li>

      <li>
        <button class="next-week" {{action "navigateWeek" 1}}></button>
      </li>
    </ul>
  </nav>
</header>

<section class="days">
  <header>
    {{as-calendar/time-zone-select
      value=timeZone
      onChangeValue="onChangeTimeZone"
      defaultRegexp=defaultTimeZoneRegexp}}

    <div class="all-day-label">All Day</div>

    <ul class="time-slot-labels" style={{timeSlotLabelListStyle}}>
      {{#each timeSlot in daysHeaderTimeSlots}}
        <li style={{timeSlotStyle}}>
          {{moment timeSlot.value "h A"}}
        </li>
      {{/each}}
    </ul>
  </header>

  <div>
    <ul>
      {{#each day in days}}
        <li style={{dayStyle}}>
          {{as-calendar/day day=day onToggleSelect="onDayToggleSelect"}}
        </li>
      {{/each}}
    </ul>
  </div>
</section>
