<h1 class="as-calendar-header__title">{{title}}</h1>

{{yield this}}

<nav class="as-calendar-header__nav">
  <ul class="as-calendar-header__nav-group">
    <li class="as-calendar-header__nav-group-item">
      <button class="as-calendar-header__nav-group-action as-calendar-header__nav-group-action--previous-week" {{action "navigateWeek" -1}}></button>
    </li>

    <li class="as-calendar-header__nav-group-item">
      <button disabled={{isInCurrentWeek}}
        class="as-calendar-header__nav-group-action as-calendar-header__nav-group-action--current-week"
        {{action "goToCurrentWeek"}}>This Week</button>
    </li>

    <li class="as-calendar-header__nav-group-item">
      <button class="as-calendar-header__nav-group-action as-calendar-header__nav-group-action--next-week" {{action "navigateWeek" 1}}></button>
    </li>
  </ul>
</nav>
