<div class="header columns">
  <div class="time-zone">
    {{as-calendar/time-zone-select
      value=timeZone
      options=timeZoneOptions
      defaultQuery=defaultTimeZoneQuery
      showSearch=showTimeZoneSearch
      onChangeTimeZone=(action this.attrs.onChangeTimeZone)}}
  </div>

  <div class="day-labels">
    <ul>
      {{#each days as |day|}}
        <li class={{if day.isToday "today"}}>{{moment-format day.value "ddd D MMM"}}</li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="content-wrapper">
  <div class="header rows">
    <ul class="time-slot-labels" style={{timeSlotLabelListStyle}}>
      {{#each labeledTimeSlots as |timeSlot|}}
        <li style={{timeSlotLabelStyle}}>
          {{moment-format timeSlot.value "h A"}}
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="content">
    {{#as-calendar/timetable/content
      timeSlotHeight=timeSlotHeight
      model=model
      timetable=this
      onSelectTime="selectTime" as |day|}}
      {{yield day this}}
    {{/as-calendar/timetable/content}}
  </div>
</div>
