<div class="header columns">
  <div class="time-zone">
    {{as-calendar/time-zone-select
      value=timeZone
      onChangeValue="changeTimeZone"
      defaultRegexp=defaultTimeZoneRegexp}}
  </div>

  <div class="day-labels">
    <ul>
      {{#each days as |day|}}
        <li>{{moment day.value "ddd D MMM"}}</li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="content-wrapper">
  <div class="header rows">
    <ul class="time-slot-labels" style={{timeSlotLabelListStyle}}>
      {{#each labeledTimeSlots as |timeSlot|}}
        <li style={{timeSlotLabelStyle}}>
          {{moment timeSlot.value "h A"}}
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="content">
    <div style={{contentStyle}}>
      <ul class="time-slots">
        {{#each timeSlots as |timeSlot|}}
          <li style={{timeSlotStyle}}></li>
        {{/each}}
      </ul>

      <ul class="days">
        {{#each days as |day|}}
          <li>
            {{#if hasBlock}}
              {{yield day this}}
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
