{{#if model.hasTimeSlots}}
  <ul class="as-calendar-timetable__slots">
    {{#each timeSlots as |timeSlot|}}
      <li class="as-calendar-timetable__slot-item" style={{timeSlotStyle}}></li>
    {{/each}}
  </ul>
{{/if}}

<ul class="as-calendar-timetable__days">
  {{#each days as |day|}}
    <li class="as-calendar-timetable__day {{if day.isToday "as-calendar-timetable__day--today"}} {{if day.isOutOfPeriod "as-calendar-timetable__day--out-of-period"}}">
      {{#if model.isMonthView}}
        <a href class="as-calendar-timetable__day-name" {{action 'goTo' day.value bubbles=false}}>{{moment-format day.value "D"}}</a>
      {{/if}}

      {{#if (and day.isToday (not model.isMonthView))}}
        <div class="as-calendar-timetable__hour-marker" style={{hourMarkerStyle}}></div>
      {{/if}}

      {{yield day this}}
    </li>
  {{/each}}
</ul>
