<div class="as-calendar-occurrence__container">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    <h1 class="as-calendar-occurrence__title">{{title}}</h1>
  {{/if}}

  {{#unless isInteracting}}
    {{#if isEditable}}
      <a {{action "edit" bubbles=false}} class="as-calendar-occurrence__edit">{{fa-icon "pencil"}}</a>
    {{/if}}
    {{#if isRemovable}}
      <a {{action "remove" bubbles=false}} class="as-calendar-occurrence__remove">{{fa-icon "times"}}</a>
    {{/if}}

    {{#if isResizable}}
      <div class="as-calendar-occurrence__resize-handle"></div>
    {{/if}}
  {{/unless}}
</div>
